
$tablet-breakpoint: 600px;
$desktop-breakpoint: 768px;
$large-screen-breakpoint: 1200px;


/* Color Theme Swatches in Hex */
$w2p-pallette-1: #DEEAFF;
$w2p-pallette-2: #ABBEDE;
$w2p-pallette-3: #5A7EB8;
$w2p-pallette-4: #2F4469;
$w2p-pallette-5: #00112E;