
@import './normalize.min.css';

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $w2p-pallette-5;
    color: $w2p-pallette-1;
}