@import './normalize.min.css';


$base-font-size: 14px;

/* Color Theme Swatches in Hex */
$w2p-pallette-1: #DEEAFF;
$w2p-pallette-2: #ABBEDE;
$w2p-pallette-3: #5A7EB8;
$w2p-pallette-4: #2F4469;
$w2p-pallette-5: #00112E;

html {
  font-size: $base-font-size;
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: $base-font-size;
  background-color: $w2p-pallette-4;
  color: $w2p-pallette-1;
}

.active-sort {
  color: gold;
  text-decoration: underline;
  font-weight: bold;
}

/* Primary and Surface Palettes */
:root {
  --bgg-bg-color: #3f3a60;
  --bgg-font-color: #fafaf7;
  --p-primary-50: #ecfdf5;
  --p-primary-100: #d1fae5;
  --p-primary-200: #a7f3d0;
  --p-primary-300: #6ee7b7;
  --p-primary-400: #34d399;
  --p-primary-500: #10b981;
  --p-primary-600: #059669;
  --p-primary-700: #047857;
  --p-primary-800: #065f46;
  --p-primary-900: #064e3b;
  --p-primary-950: #022c22;
  --p-surface-0: #ffffff;
  --p-surface-50: #e7f2fd;
  /* Lightest Blue */
  --p-surface-100: #cce4fb;
  /* Lighter Blue */
  --p-surface-200: #99c9f7;
  /* Light Blue */
  --p-surface-300: #66adf2;
  /* Medium Light Blue */
  --p-surface-400: #3392ee;
  /* Medium Blue */
  --p-surface-500: #0077ea;
  /* Bright Blue */
  --p-surface-600: #0063c3;
  /* Darker Blue */
  --p-surface-700: #004e9d;
  /* Dark Blue */
  --p-surface-800: #003a76;
  /* Darker Blue */
  --p-surface-900: #002753;
  /* Darkest Blue */
  --p-surface-950: #00152a;
  /* Near Black Blue */

  --p-content-border-radius: 6px;
}

/* Light Mode */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
* Dark Mode
* Change the .p-dark to match the darkMode in tailwind.config.
* For example; 
*  darkMode: ['selector', '[class*="app-dark"]'] 
*  should match;
* :root.app-dark
*/
:root.p-dark {
  --p-primary-color: var(--p-primary-400);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}